<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phone Add Form</title>
</head>
<body>
    <h1>Add Phones</h1>
    <form action="save" method="POST">
        {%csrf_token%}
        ScreenSize: <input type="text" name="screen size"><br>
        RAM: <input type="text" name="ram"><br>
        ROM: <input type="text" name="rom"><br>
        Color: <input type="text" name="Color"><br>
        Battery: <input type="text" name="Battery"><br>
        Description: <input type="text" name="Description"><br>
        <input type="Submit">
    </form>
</body>
</html>